.header {
    background: #028090;
    height: 200px;
}

.header h1 {
    margin: 0;
    padding-top: 75px;
    padding-right: 42px;
    text-align: center;
    color: white;
    /*font-size: 48px;*/
    
}

.home{
    text-align: center;
    color: white;
    
}

.pfp{
    width: 100px;
    border-radius: 50%;
}

